
<div class='container-fluid my-5'>
  <%= link_to "Parent Post", holla_path(@comment.holla_id), class:"btn btn-primary" %>
</div>
<div class='container-fluid mt-3'>
<div class="card shadow-lg my-3">
  <div class="card-header">
    <h3 class='float-left lead'>
    <%= link_to user_path(@comment.user_id), class:'nav-link' do %>
        <span> @<%=@comment.author_name%> </span>
    <% end %>
      <% if @comment.loop_count > 0 %>
      <small class='text-muted font-italic'>replying to @<%=Comment.find_by_id(@comment.commentable_id).author_name %></small>
      <% end %>

    </h3>
    <p class="float-right text-muted"> <%= time_ago_in_words(@comment.created_at) %> ago</p>

 </div>

 <div class="card-body">

   <p class='card-text mb-3'> <%=@comment.body %></p>

     <%= form_for [@comment, Comment.new] do |f| %>
     <div class="row text-center">
       <div class="col-9">
         <div class='form-field mb-3'>
           <%= f.text_field :body, placeholder: "Add a Reply",class: 'form-control text-center' %>
         </div>
       </div>
       <div class='col-3'>
         <button type="submit" class="btn btn-primary text-center mb-3">Reply!</button>
       </div>
     </div>
     <% end %>
   </div>
  </div>
</div>
<div class='container-fluid mt-3'
  <div class='row'>

    <div class='col-1'>

    </div>
    <div class='col-11'>
      <div class='container-fluid my-3'>
        <% @comment.comments.sorted.each do |reply| %>
          <div class="card shadow-lg mt-3">
            <div class="card-header"> <%= reply.author_name %> </div>
            <div class="card-body">
              <p class='card-text'><%= reply.body %> <p>
              <footer><%= time_ago_in_words(reply.created_at) %></footer>
              <div class='container-fluid mb-3'>
                <%= render reply.comments.sorted.limit(3) %>
                <% if reply.comments.size > 3 %>
                  <%= link_to 'More Replies >>', comment_path(reply), class: 'btn btn-primary mb-3'%>
                <%end%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
