  <div class="card border-primary m-3 shadow-lg rounded">
    <div class="card-header">
      <%= link_to "@#{holla.user.user_name}" , holla.user,class:'nav-link float-left' %>
      <%=link_to 'open post' , holla, class:'btn btn-primary float-right stretched-link'%>
    </div>

    <div class="card-body">
      <p class="card-text mt-3"> <%= holla.body %> </p>
    </div>

    <% if holla.image.attached? %>
      <div class='container-fluid'>
        <%= image_tag (url_for(holla.image)) , class: "card-img-bottom img-responsive border-primary p-3" %>
      </div>
    <%end%>

    <div class="card-footer">
      <div class="btn-group float-left mt-3" role="group" aria-label="Basic outlined example">

        <%= link_to like_holla_path(holla), method: :put, class: "btn btn-outline-primary text-center" do %>
          <i class="fas fa-thumbs-up fa-lg"></i>
          <span> <%= holla.likes.size %> </span>
        <% end %>

        <%= link_to root_path, class: "btn btn-outline-primary text-center" do %>
          <i class="fas fa-comment fa-lg"></i>
          <span>0</span>
        <% end %>

        <%= link_to root_path, class: "btn btn-outline-primary" do %>
          <i class="fas fa-share fa-lg text-center"></i>
          <span>0</span>
        <% end %>

      </div>

      <p class=" text-muted lead font-italic font-weight-lighter float-right">
        <%= distance_of_time_in_words(Time.now, holla.created_at)%> ago
      </p>
    </div>

  </div>
