<p id="notice"><%= notice %></p>

<h1>Hollas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hollas.each do |holla| %>
      <tr>
        <td><%= holla.user_id %></td>
        <td><%= holla.username %></td>
        <td><%= link_to 'Show', holla %></td>
        <td><%= link_to 'Edit', edit_holla_path(holla) %></td>
        <td><%= link_to 'Destroy', holla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holla', new_holla_path %>
