<!DOCTYPE html>
<html>
  <head>
    <title>No More Lonely Terps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .navbar-themed {
        background-image: linear-gradient(to right, #A4214D 0%, #2C27FF 100%);
        transition: top 0.3s; /* Transition effect when sliding down (and up) */
      }

      .modal {
        color: purple;
      }
      .card-themed {
        background-image: linear-gradient(to right, #A4214D 0%, #2C27FF 100%);
      }
      .btn-primary {
          background-image: linear-gradient(to right, #A4214D 0%, #2C27FF 100%);
      }
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        align-self: center;
      }
      div.sticky-bottom {
        position: sticky;
        bottom: 0;
          background-image: linear-gradient(to right, #A4214D 0%, #2C27FF 100%);

        padding: 0px;
        font-size: 20px;
      }
      .nav>.active, .nav>.hover{
        background-image: linear-gradient(to right, #A4214D 0%, #2C27FF 100%);
        color: white;
        }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-themed navbar-dark">
      <div class="container-fluid">
     <%= link_to 'NoMoreLonelyTerps', root_path, class: 'navbar-brand display-6 lead '%>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

        <li class="nav-item">
         <%= link_to 'Chat', chat_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Market', market_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Explore', explore_path, class: 'nav-link'%>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Account', user_path(current_user), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link'  %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: 'nav-link'%> | <%= link_to "Login", new_user_session_path, class: 'nav-link'  %>
        </li>
        <% end %>
      </ul>
    </nav>

    <div class="container-fluid">
      <% if notice %>
        <p class="alert alert-primary m-3"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger m-3"><%= alert %></p>
          <% end %>
        </div>
        <div class="container-fluid">
          <%= yield %>
        </div>

  </body>
</html>
